.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: bottom 0.3s ease;
}

.floating-button-container.scrolled-to-bottom {
  bottom: 200px;
}

.floating-button {
  background-color: #2cc518; 
  color: white;
  border: none; 
  border-radius: 5px;
  width: 120px;
  height: 65px; 
  font-size: 16px; 
  cursor: pointer; 
  box-shadow: 8px 10px 3px rgba(0, 0, 0, 0.1); 
  outline: none; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  transition: width 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  overflow: hidden;
  text-decoration: none;
  padding-left: 10px;
}

.floating-button:hover {
  background-color: #68e478;
  width: 160px;
  color: black;
  padding-right: 13.9px;
}

.floating-button-icon {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.floating-button-text {
  margin-left: 10px;
  transition: display 0.3s ease;
}

.floating-button:hover .fab.fa-plus {
  opacity: 0;
}

.floating-button:hover .fa.fa-heart {
  display: inline-block;
}

.floating-button:hover .floating-button-text {
  display: inline-block;
  font-weight: 600;
}

.fa.fa-heart {
  padding-bottom: 28px;
  display: none;
  color: red;
}